
#contenido{
 background-color: grey;

  margin-top: -32px;
}
.navbar{
  background-color: #BBB9BE!important;
  font-family: 'Source Sans Pro', sans-serif, ;
  text-decoration: none;
  margin-bottom: 20px;


}
.jumbotron{
   background-color: #3B94AC!important;

}

#uno{
  /* The image used */
    background-image: url('../img/foto1.jpg');
    /* Full height */
    height: 900px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#barrainferior{
  height: 100px;
  background-color: #BBB9BE!important;
}

.center{

  margin-left: auto;
      margin-right: auto;
      display: block;
}
