<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parkit web</title>
<!--aqui se deben colocar los elemento de bootstrap4--->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--aqui se deben colocar los elementos para que la web se comvierta en progressiva--->
<meta name="theme-color" content="#BBB9BE">
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
	<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="../../assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-startup-image" href="../../assets/favicon/apple-icon-144x144.png">
  <link rel="manifest" href="../cliente/manifest.json">
<!--aqui se deben colocar las alertas de las notificaciones--->
<script src="../../assets/js/Alertas-login.js"></script>
  <script src="../../assets/js/Alertas-registro.js"></script>
  <link rel="stylesheet" type="text/css" href="../../assets/css/overhang.min.css" />
<script type="text/javascript" src="../../assets/js/overhang.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<!--aqui se deben colocar las hojas de estilo --->
<link rel="stylesheet" href="./assets/css/Miestilo-portada.css">
<!--aqui se deben colocar todas tipos de fuentes que se vallan a utilizar-->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
</head>
<script type="text/javascript">
 
</script>

<body id="body">
        <!--barra de navegacion que contiene los accesos directos a los demas en laces a los demas apartados de la pagina web
        -navbar-xpanda=hace que se expandan los elemtaros de la barra al agranadar la pantalla,
        -sticky-top=hace que la barra se quede pegada al desplazar la pnatalla
        -mr-auto=ajuste de margenes automatico
        -text-center=centr los textos dentro del menu de amburguesa
        -d-flex justify contetnt-around=separa dos botones dentro del menu de hamburguesa
         -ml-auto=centra los textos de la barra
         m-2= clase que ayuda arealizar un epsaciado de 2 pixeles o deenediedo del numero de margen que deseas
         text-justify=acomoda de mejor manera el texto en los parrafos
        text-capitalize=coloca de manera automatica las mayusculas-->
    
    <nav class="navbar navbar-dark  navbar-expand-md " id="bar">
         <!--logo y texto-->
        <a class="navbar-brand font-weight	text-white" href="http://localhost:8080/pwa/html/Portada.html">
        <img src="./assets/img/Logo.png" width="70" height="70" class="d-inline-block align-top" alt="">
        <h5 class="navbar-brand"navbar-brand"><p class="text-text-capitalize">Parkit</p></h5>
      </a>
     <!--boton tipo hamburguesa-->
      <button class="navbar-toggler navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 						aria-expanded=" false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
     <!--iconos tipo texto en la barra -->
      <div class="collapse navbar-collapse  text-dark" id="navbarTogglerDemo01">
        <div class="navbar-nav  mr-auto "></div>
          <ul class="nav navbar-nav ">
                <li><a class="nav-item nav-link  href="#myPage"><p class="text-uppercase">inicio</p></a></li>
                <li><a class="nav-item nav-link  href="#band"><p class="text-uppercase">registro y login</p></a></li>
                <li><a class="nav-item nav-link  href="#tour"><p class="text-uppercase">nosotros</p></a></li>
                <li><a class="nav-item nav-link  href="#contact"><p class="text-uppercase">contacto</p></a></li>
              </ul>
        </div>
          
    </nav>
    <!--fin de nabvar-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/estacionamiento1.jpg" alt="First slide">
                <div class="carousel-caption">
                        <h3>Bienvenidos</h3>
                        <p>A Parkit reserva tu estacionamiento!</p>
                      </div> 
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/estacinamiento2.jpg"" alt="Second slide">
                <div class="carousel-caption">
                        <h3>Plazas Automatizadas</h3>
                        <p>A lo largo de todo Chile</p>
                      </div> 
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/estacionamiento5.jpg" alt="Third slide">
                <div class="carousel-caption">
                        <h3>Usa Parkit</h3>
                        <p>Registrate Ahora!</p>
                      </div>  
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    
    <!-- inicio carrusel  -->
    
    <!-- fin carrusel  -->
    <!--inicio de contenido-->
    <div id="contenido"class="container-fluid  ">
        <div class="row d-flex justify-content-around  ">
            
            <div id="uno"class="col-12 col-md-12">
                <p id="texto"class="text-uppercase text-center ">registrate ahora!</p>
                <p id="texto"class="text-uppercase text-center mt-1">o</p>
                <p id="texto"class="text-uppercase text-center mt-1">ingresa ya con tu cuenta!</p>
                <p id="texto"class="text-uppercase text-center mt-1 text-muted">no esperes mas</p>

                <div class="row ">
                     <div class="col-md-6 col-sm-12 col-12 mt-5 text-center">
                            <div id="registro" class="btn btn-dark" data-toggle="collapse" data-target="#Registro-collapse">Registro</div>
                            <div class="w3-card "id="card-registro">
                                <div id="Registro-collapse" class="collapse w3-panel w3-card">
                                        <p id="texto-registro" class="text-capitalize">complete el formulario para ser parte de este gran servicio de estacionamientos</p>
                                        <form id="Registro-form" action="./validations/Registro_code.php" method="post">
                                          <p id="texto-registro"  class="text-justify">NOMBRE:</p><div id="texto-registro" class="text-justify"><input type="text" name="txtNombre" id="Nombre_usuario" placeholder="Ingrese su Nombre" required></div>
                                          <p id="texto-registro"  class="text-justify">APELLIDO:</p><div id="texto-registro"  class="text-justify"><input type="text" name="txtApellido" id="Apellido_usuario" placeholder="Ingrese su Apellido"required></div>
                                          <p id="texto-registro"  class="text-justify">RUT:(sin puntos solo guion)</p><div class="text-justify"><input type="text" name="txtRut" id="Rut_usuario" placeholder="Ingrese su Rut"required></div>
                                          <p id="texto-registro"  class="text-justify">CORREO:</p><div id="texto-registro"  class="text-justify"><input type="text" name="txtCorreo" id="Correo_usuario" size="30"placeholder="Ingrese su Correo@.com"required></div><br>
                                          <p id="texto-registro"  class="text-justify">NICKNAME:</p><div id="texto-registro"  class="text-justify"><input type="text" name="txtUsuario" id="Correo_usuario" size="30"placeholder="Ingrese su nickname"required></div><br>
                                          <p id="texto-registro"  class="text-justify">CONSTRASEÑA:</p><div id="texto-registro"  class="text-justify"><input type="password" name="txtPass" id="Pass_usuario" placeholder="Ingrese su contraseña"required></div><br>
                                          <p id="texto-registro"  class="text-justify"></p><div id="texto-registro"  class="text-justify text-capitalize" ><input type="checkbox" name="Termino" id="Termino_usuario"required>Usted acepta los terminos y condicion de este servicio</div>
                                          <button id="btn-registro"  type="submit" class="btn btn btn-dark  btn-lg btn-block">Registrarse</button>     

                                        </form>
                                </div>
                            </div>
                            </div>
                     <div class="col-md-6 col-sm-12 col-12 mt-5 text-center">
                            <div id="login" class="btn btn-dark" data-toggle="collapse" data-target="#Login-collapse">Login</div>
                            <div class="w3-container">
                                <div  id="Login-collapse" class="collapse w3-panel w3-card" >
                                        <p id="texto-login" class="text-capitalize">Ingresa Un estacionamieto te estara esperando!!</p>
                                        <form id="Login-form" action="./validations/Validacion_code.php" method="POST">
                                          <p id="texto-login"class="text-justify">Username:</p><div id="texto-login" class="text-justify"><input type="text" name="txtUsuario" id="Nombre_usuario" size="20"placeholder="Ingrese su Username"  required autofocus></div>
                                          <p id="texto-login" class="text-justify">CONSTRASEÑA:</p><div id="texto-login" class="text-justify"><input type="password" name="txtPass" id="Nombre_usuario" size="20" placeholder="Ingrese su Contraseña"  required autofocus></div><br>
                                          
                                          <button id="btn-login" type="submit" class="btn btn-dark btn-lg btn-block">Ingresar</button>
                                        </form>
                                    </div>
                            </div>
                     </div>
                </div>
                <br>
            </div>
            <div id="dos"class="col-12 col-md-12 ">
                <h3 id="titulo"class="text-center">NUESTROS ESTACIONAMIENTOS</h3>
                <p class="text-center" id="texto2">Plazas Automatizas a lo largo De Chile<br></p>
                <div class="row text-center">
                        <div id="texto2"class="col-sm-4">
                          <div class="thumbnail">
                            <img src="assets/img/ejemplo1.jpg"  width="400" height="300">
                            <p><strong>Aeropuerto</strong></p>
                  
                          </div>
                        </div>
                        <div id="texto2"class="col-sm-4">
                          <div class="thumbnail">
                            <img src="assets/img/ejemplo4.jpg"  width="400" height="300">
                            <p><strong>Providencia</strong></p>
                           
                          </div>
                        </div>
                        <div id="texto2"class="col-sm-4">
                          <div class="thumbnail">
                            <img src="assets/img/ejemplo2.jpg"  width="400" height="300">
                            <p><strong>San Francisco</strong></p>
                          </div>
                        </div>
                      </div>
                          
            </div>
            <div id="tres"class="col-12 col-md-12 ">
                    <div id="contact" class="container">
                            <h3 class="text-center">Contacto</h3>
                            <p class="text-center"><em>Soporte las 24hrs!</em></p>
                          
                            <div class="row">
                              <div class="col-md-4">
                                <p>Escribenos!</p>
                                <p><span class="glyphicon glyphicon-map-marker"></span>Santiago, Chile</p>
                                <p><span class="glyphicon glyphicon-phone"></span>Telefono: +00 1515151515</p>
                                <p><span class="glyphicon glyphicon-envelope"></span>Email: SoportParkit@Parkitchile.cl</p>
                              </div>
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-sm-6 form-group">
                                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                                  </div>
                                  <div class="col-sm-6 form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                                  </div>
                                </div>
                                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                                <br>
                                <div class="row">
                                  <div class="col-md-12 form-group">
                                    <button class="btn btn-dark" type="submit">Enviar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                            <h3 class="text-center">Dueños</h3>  
                            <ul class="nav nav-tabs">
                              <li class="active"><a data-toggle="tab" href="#home">Sebastian||</a></li>
                              <li><a data-toggle="tab" href="#menu1">Joaquin||</a></li>
                              <li><a data-toggle="tab" href="#menu2">Rafael</a></li>
                            </ul>
                          
                            <div class="tab-content">
                              <div id="home" class="tab-pane active">
                                <h2>Sebastian Aravena, Dueño</h2>
                                <p>Man, we've been on the road for some time now. Looking forward to lorem ipsum.</p>
                              </div>
                              <div id="menu1" class="tab-pane fade">
                                <h2>Joaquin Dreau, Dueño</h2>
                                <p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
                              </div>
                              <div id="menu2" class="tab-pane fade">
                                <h2>Rafael Guerra, Dueño</h2>
                                <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
                              </div>
                            </div>
                    </div>
            </div>
        </div>
        <br>
    </div>
    <div id="footer" class="footer text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
          </a><br><br>
         <p><a href="#" data-toggle="tooltip" title="Email"></a>Parkit.solution@parkitchile.cl</p> 
        </div>
    </div>
    <main>
        <script type="text/javascript" src="../js/script.js"></script>
    </main>
    </body>
</html>